/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .main-menu-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/*menu-icon line*/
.menu-wrap .main-menu-icon > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/*menu-icon lines top/bottom*/
.menu-wrap .main-menu-icon > div::before,
.menu-wrap .main-menu-icon > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/*move lines down*/
.menu-wrap .main-menu-icon > div::after {
    top: 10px;
}

/*toggler animation
checked makes elem clickable*/
.menu-wrap .toggler:checked + .main-menu-icon > div {
    transform: rotate(135deg);
}

/*turn into x*/
.menu-wrap .toggler:checked + .main-menu-icon > div:before,
.menu-wrap .toggler:checked + .main-menu-icon > div:after {
    top: 0;
    transform: rotate(90deg);
}

/*rotate on hover*/
.menu-wrap .toggler:checked:hover + .main-menu-icon > div {
    transform: rotate(225deg);
}

/*show menu*/
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
/*tilda applies the same style to the sibling selector*/
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.3rem;
    padding: .9rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease-out;
}
h1{
    font-weight: lighter;
    letter-spacing: 8px;
}
/* ---------------------------------------------------------- */
:root{
    --primary-color: rgba(33, 223, 230, 0.95);
    --overlay-color: linear-gradient(244deg, #e70af2,#009bff,#4abde3);
    --addl-color: rgba(74, 189, 227);
    --font-family: Verdana, Geneva, sans-serif
}

.container {
    width: 70%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    min-height: 100vh;
    overflow-y: auto;
    margin-top: 20px;
}

body {
    background-color: transparent;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(33, 223, 230);
    font-family: var(--font-family);
    line-height: 1.5;
    margin: 0;
    min-block-size: 100vh;
    padding: 5vmin;
    place-items: center;
}

h1{
    font-size: 1.5rem;
    text-align: center;
    padding: 0em 0em 1em;
    font-family: var(--font-family);
    font-weight: 500;
}

.form-group {
    display: flex;
    align-items: start; 
    justify-content: start; 
    margin-top: 5px;
}
label {
    margin-right: 10px; 
}

select {
    display: block; 
}
.first-button {
    border-radius: 10px;
    display: inline-block; 
    border: none;
    background-color: rgb(123, 83, 234);
    color: white;
    padding: 1rem 2rem; 
    transition: opacity .6s ease-in-out;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    vertical-align: middle;  
    cursor: pointer;
    width: 100%;
    margin-top: 50px;
}
.first-button:hover{
    opacity: .95;
}

.addHeartRateDuring {
    border-radius: 10px;
    display: inline-block; 
    border: none;
    background-color: rgb(123, 83, 234);
    color: white;
    padding: 1rem 2rem; 
    transition: opacity .6s ease-in-out;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    vertical-align: middle;  
    cursor: pointer;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 15px;
}

.addHeartRateDuring:hover {
    opacity: .95;
}

form {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    padding: 0.9rem 0.9rem;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.error-message{
    font-size: 1.15rem;
    color: black;
    margin-top: .6rem;
    text-align: center;
}
.select-style {
    text-align: center;
    padding: 8px 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); 
    background-repeat: no-repeat;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    font-family: Arial, sans-serif; 
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}


.select-style:after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 0.6em;
}


.select-style:focus {
    border-color: #66afe9; 
    outline: 0;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}


.form-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%; 
}

/*toggler animation
checked makes elem clickable*/
.menu-wrap .toggler:checked + .main-menu-icon > div {
    transform: rotate(135deg);
}

/*turn into x*/
.menu-wrap .toggler:checked + .main-menu-icon > div:before,
.menu-wrap .toggler:checked + .main-menu-icon > div:after {
    top: 0;
    transform: rotate(90deg);
}

/*rotate on hover*/
.menu-wrap .toggler:checked:hover + .main-menu-icon > div {
    transform: rotate(225deg);
}

/*show menu*/
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
/*tilda applies the same style to the sibling selector*/
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}