<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="CreateInviteLinkPageStyle.css">
    <title>Create Invite Link</title>
    <style>
        body {
        background-image: url('images/background_gradient.png');
        background-size: cover;
        background-position: center;
        }
    </style>
</head>
<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="main-menu-icon"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="/">ДОМАШНЯЯ СТРАНИЦА</a></li>

                        <% if (!loggedIn) { %>
                            <li><a href="/login">ВОЙТИ</a></li>
                        <% } %>

                        <% if (loggedIn) { %>
                            <li><a href="/characteristics">ПРОФЕССИИ</a></li>
                        <% } %>

                        <% if (adminUser) { %>
                            <li><a href="/poll_1_part_1">ОПРОС</a></li>
                        <% } %>

                        <% if (adminUser) { %>
                            <li><a href="/polls_results">РЕЗУЛЬТАТЫ ТЕСТИРОВАНИЯ</a></li>
                        <% } %>
                        <% if (adminUser) { %>
                            <li><a href="/adminRegister">ДОБАВИТЬ АДМИНА</a></li>
                        <% } %>
                        <% if (adminUser) { %>
                          <li><a href="/create_invite">ССЫЛКА-ПРИГЛАШЕНИЕ</a></li>
                        <% } %>
                        <% if (loggedIn) { %>
                            <li><a href="/adminPage">ЭКСПЕРТЫ</a></li>
                        <% } %>
                        <% if (loggedIn) { %>
                            <li><a href="/logout">ВЫЙТИ</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="form-group">
            <label for="id-select">Тест</label>
            <label for="test-type-select"></label><select class="select-style" name="test" id="test-type-select">
                <option value="poll_1_part_1">Тест на характеристики</option>
                <option value="sound_test">Тест на реакцию на звук</option>
                <option value="light_test">Тест на реакцию на свет</option>
                <option value="visual_math_test">Математические примеры(визуально)</option>
                <option value="math_sound">Математические примеры (на слух)</option>
                <option value="multiple_colours_test">Тест на изменение цвета</option>
                <option value="easy_action">Тест на простое движение (точность)</option>
                <option value="hard_action">Тест на сложное движение (точность)</option>
                <option value="analog_tracking_test">Analog Tracking Test</option>
                <option value="stalking_test">Stalking Test</option>
                <option value="abstract_test">Тест на абстракцию</option>
                <option value="abstract_thinking_test">Тест на абстрактное мышление</option>
                <option value="attention_assessment_test">Тест на переключение</option>
                <option value="compare_test">Тест на сравнения</option>
                <option value="myunsterberg_test">Тест на концентрацию</option>
                <option value="ram_test">Тест на оперативную память</option>
                <option value="memory_test">Тест на кратковременную память</option>
            </select>
        </div>
        <div>
            <button type="submit" id="get-invite-button">Создать ссылку-приглашение</button>
        </div>
        <div id="invite-link-enclosing"></div>
        <div id="link-copied"></div>
    </section>
</body>
<script>
    let inviteLink = null, linkGenerated, i=1
    testTypeSelects = document.getElementById('test-type-select')
    getInviteButton = document.getElementById('get-invite-button')
    getInviteButton.addEventListener('click', getLink)

    async function getLink(){
        const data = {
            tests: []
        }
        console.log(document);
        const testSelect = document.getElementById("test-type-select");
        data.tests.push(testSelect.value)
        console.log(data.tests);
        await fetch('/create_invite', {
            method: "POST",
            body: JSON.stringify(data),
            headers : {'Content-Type' : 'application/json'}
        })
            .then(data => data.json())
            .then(objects => {
                document.getElementById("invite-link-enclosing").innerHTML = "";
                const link = document.createElement("input")
                link.type = "button"
                link.value = "Скопировать ссылку"
                link.onclick = copyLinkToClipBoard
                document.getElementById("invite-link-enclosing").appendChild(link)
                inviteLink = objects["link"]
            })
            .catch(e => console.log(e))
    }

    function copyLinkToClipBoard(){
        if (inviteLink){
            navigator.clipboard.writeText(inviteLink).then(function() {
            }, function() {
                console.error("Failed to copy text to clipboard");
            });
            document.getElementById("link-copied").innerHTML = "Ссылка скопирована";
            setTimeout(() => {
                document.getElementById("link-copied").innerHTML = "";
            }, 3000);
        }
    }

</script>
</html>