:root{
    --primary-color: rgba(33, 223, 230, 0.95);
    --overlay-color: linear-gradient(244deg, #e70af2,#009bff,#4abde3);
    --addl-color: rgba(74, 189, 227);
    --font-family: Verdana, Geneva, sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.qualities-container {
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.qualities-header {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}


.quality-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}


.quality-item:last-child {
    border-bottom: none;
}


.quality-text {
    font-size: 16px;
    color: #555;
}


.quality-importance {
    float: right;
    font-weight: bold;
    color: #2a9d8f;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    background-color: transparent;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.body-background {
    background-image: url('images/background_gradient.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.container {
    width: 70%;
    max-width: 800px;

    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    /* min-height: 100vh; */
    overflow-y: auto;
    margin-top: 50px;
}


.header {
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 20px;
    font-size: 24px;
}

.details {
    padding: 15px;
    text-align: left;
}

ul {
    list-style-type: none;
}

.lili {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

@media (max-width: 768px) {
    body {
        padding: 1em;
    }
    .container {
        padding: 1.5em;
    }
}

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .main-menu-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/*menu-icon line*/
.menu-wrap .main-menu-icon > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/*menu-icon lines top/bottom*/
.menu-wrap .main-menu-icon > div::before,
.menu-wrap .main-menu-icon > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/*move lines down*/
.menu-wrap .main-menu-icon > div::after {
    top: 10px;
}

/*toggler animation
checked makes elem clickable*/
.menu-wrap .toggler:checked + .main-menu-icon > div {
    transform: rotate(135deg);
}

/*turn into x*/
.menu-wrap .toggler:checked + .main-menu-icon > div:before,
.menu-wrap .toggler:checked + .main-menu-icon > div:after {
    top: 0;
    transform: rotate(90deg);
}

/*rotate on hover*/
.menu-wrap .toggler:checked:hover + .main-menu-icon > div {
    transform: rotate(225deg);
}

/*show menu*/
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
/*tilda applies the same style to the sibling selector*/
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.3rem;
    padding: .9rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease-out;
}
h1{
    font-weight: lighter;
    letter-spacing: 8px;
}

.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.table tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}
#becomeRespondentButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

button {
    border-radius: 10px;
    display: inline-block;
    border: none;
    background-color: rgb(123, 83, 234);
    color: white;
    padding: 1rem 2rem; 
    transition: opacity .6s ease-in-out;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    vertical-align: middle;  
    cursor: pointer;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
}

button:hover{
    opacity: .95;
}
