<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профессии</title>
    <link rel="stylesheet" href="SecondPageStyles.css">
    <style>
        body {
        background-image: url('images/background_gradient.png');
        background-size: cover; 
        background-position: center; 
    }
    </style>
</head>
</head>
<body>
    <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="main-menu-icon"><div></div></div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a href="/">ДОМАШНЯЯ СТРАНИЦА</a></li>

                    <% if (!loggedIn) { %>
                        <li><a href="/login">ВОЙТИ</a></li>
                    <% } %>
                
                    <% if (loggedIn) { %>
                        <li><a href="/characteristics">ПРОФЕССИИ</a></li>
                    <% } %>
                    <% if (loggedIn) { %>
                        <li><a href="/my_page">МОЙ ПРОФИЛЬ</a></li>
                    <% } %>
                    <% if (adminUser) { %>
                        <li><a href="/poll_1_part_1">ОПРОС</a></li>
                    <% } %>

                    <% if (adminUser || respondentUser) { %>
                        <li><a href="/polls_results">РЕЗУЛЬТАТЫ ТЕСТИРОВАНИЯ</a></li>
                    <% } %>
                    <% if (adminUser) { %>
                        <li><a href="/adminRegister">ДОБАВИТЬ АДМИНА</a></li>
                    <% } %>
                    <% if (adminUser) { %>
                        <li><a href="/create_invite">ССЫЛКА-ПРИГЛАШЕНИЕ</a></li>
                    <% } %>
                    <% if (adminUser) { %>
                        <li><a href="/add_heart_rate">ПУЛЬС</a></li>
                    <% } %>
                    <% if (loggedIn) { %>
                        <li><a href="/adminPage">ЭКСПЕРТЫ</a></li>
                    <% } %>
                    <% if (adminUser || respondentUser) { %>
                        <li><a href="/tests_list">СПИСОК ТЕСТОВ</a></li>
                    <% } %>
                    <% if (loggedIn) { %>
                        <li><a href="/logout">ВЫЙТИ</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
    



    <h1 class="title">Профессии</h1>
    <div style="text-align: center;">
        <% if (adminUser) { %>
            <button onclick="window.location='/add_profession'">Добавить профессию</button>
        <% } %>
    </div>

    <div id="professions-container">
        <% professions.forEach(function(profession) { %>
            <div class="card" onclick="window.location='/professions_<%= profession.id %>'">
                <h3><%= profession.profession %></h3>
            </div>
        <% }) %>
    </div>
</body>
</html>