<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тест на абстракцию</title>
    <style>
        body {
            background-image: url('images/background_gradient.png');
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center; /* Выравнивание текста по центру */
            color: white; /* Цвет текста */
        }

        img {
            width: 300px;
            height: auto;
            margin: 10px;
        }

        .hidden {
            display: none;
        }

        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Высота по высоте экрана */
        }
    </style>
</head>
<body>
<div class="center-content">
    <h1>Тест на абстракцию</h1>
    <div id="task-container" class="hidden">
        <img id="task-image" src="" alt="Задание теста">
        <p id="task-instruction">Введите количество треугольников на картинке:</p>
        <input type="number" id="user-answer">
        <button onclick="submitAnswer()">Отправить ответ</button>
    </div>
    <button id="submit-button" onclick="submitAnswer()" style="display: none;">Отправить ответ</button>
    <div id="start-button-enclosing">
        <button id="start-button" onclick="startTest(0)">Начать тест</button>
    </div>
    <div id="timer"></div>
    <div id="results" class="hidden">
        <p>Тест завершён! Верных ответов: <span id="correct-answers-count"></span> из <span
                    id="total-tasks-count"></span>.</p>
        <button id="final-submit-button" onclick="sendData()" style="display: none;">Отправить результат
        </button>
        <button id="restart-button" onclick="restartTest()" style="display: none;">Начать заново
        </button>
    </div>

</div>


<script>
    const tasks = [
        {image: "images/triangle_easy.png", type: "triangle", level: "easy", time: 60, correctAnswer: 24},
        {image: "images/triangle_medium.png", type: "triangle", level: "medium", time: 90, correctAnswer: 12},
        {image: "images/triangle_hard.png", type: "triangle", level: "hard", time: 120, correctAnswer: 18},
        {image: "images/rectangles.png", type: "rectangle", level: "easy", time: 60, correctAnswer: 9},
        {image: "images/numbers.png", type: "number", level: "hard", time: 120, correctAnswer: 8}
    ];
    let currentTaskIndex = 0;
    let timeoutHandle;
    let intervalHandle;
    let correctAnswers = 0;  // For storing the count of correct answers

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('start-button').style.display = 'block';
    });

    function startTest(index) {
        document.getElementById('task-container').classList.remove('hidden');
        document.getElementById('start-button-enclosing').classList.add('hidden')
        startTask(index);
    }

    function startTask(index) {
        const task = tasks[index];
        const imageElement = document.getElementById('task-image');
        const instructionElement = document.getElementById('task-instruction');
        const timerElement = document.getElementById('timer');

        imageElement.src = task.image;
        updateInstruction(task);
        timerElement.textContent = `Осталось времени: ${task.time} секунд`;

        clearInterval(intervalHandle);
        intervalHandle = setInterval(() => {
            task.time--;
            timerElement.textContent = `Осталось времени: ${task.time} секунд`;
            if (task.time <= 0) {
                clearInterval(intervalHandle);
                timerElement.textContent = '';
                alert('Время вышло!');
                showNextTask();
            }
        }, 1000);
    }

    function updateInstruction(task) {
        let figureType = "";
        switch (task.type) {
            case "triangle":
                figureType = "треугольников";
                break;
            case "rectangle":
                figureType = "прямоугольников";
                break;
            case "number":
                figureType = "цифр";
                break;
        }
        document.getElementById('task-instruction').textContent = `Введите количество ${figureType} на картинке:`;
    }

    function submitAnswer() {
        clearInterval(intervalHandle);
        const userAnswer = parseInt(document.getElementById('user-answer').value);
        const task = tasks[currentTaskIndex];
        if (userAnswer === task.correctAnswer) {
            correctAnswers++;  // Increment the count of correct answers
        }
        alert(`Ваш ответ: ${userAnswer}`);
        showNextTask();
    }

    function showNextTask() {
        if (currentTaskIndex < tasks.length - 1) {
            currentTaskIndex++;
            startTask(currentTaskIndex);
        } else {
            document.getElementById('task-container').classList.add('hidden');
            document.getElementById('timer').textContent = '';
            document.getElementById('results').classList.remove('hidden');
            document.getElementById('correct-answers-count').textContent = correctAnswers;
            document.getElementById('total-tasks-count').textContent = tasks.length;
            document.getElementById('final-submit-button').style.display = 'block'; // Показать кнопку "Отправить результат"
            document.getElementById('restart-button').style.display = 'block';
        }
    }

    function restartTest() {
        currentTaskIndex = 0;
        correctAnswers = 0;
        document.getElementById('restart-button').style.display = 'none'; // Скрыть кнопку "Начать заново"
        document.getElementById('results').classList.add('hidden')
        startTest(0);
    }

    /* function sendData() {
        const data = {
            score: correctAnswers,
            total: tasks.length
        };
        console.log('Sending final results:', data);

        fetch('/submit-results', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Результаты успешно отправлены!');
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Ошибка при отправке результатов.');
            });
    } */
    async function sendData() {
        const data = {
            testType: "abstract_test",
            result: correctAnswers
        }

        let url = ''
        const urlObject = new URL(window.location.href)

        if (urlObject.searchParams.has('data')) {
            url += '/abstract_test?data=' + urlObject.searchParams.get('data')
        } else {
            url += '/abstract_test'
        }

        await fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'},
        })
            .then(res => {
                console.log(res)
                // Redirect to another URL
                window.location.href = res.url;
            })
            .catch(error => console.error(error));

    }

    /* async function sendData() {
        const data = {
            testType: "abstract_test",
            accuracy: correctAnswers / tasks.length
        }

        let url = ''
        const urlObject = new URL(window.location.href)

        if (urlObject.searchParams.has('data')) {
            url += '/accuracy_test?data=' + urlObject.searchParams.get('data')
        } else {
            url += '/accuracy_test'
        }

        await fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'},
        })
            .then(res => {
                console.log(res)
                // Redirect to another URL
                window.location.href = res.url;
            })
            .catch(error => console.error(error));

    } */
</script>
</body>
</html>
