body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: white; /* Белый текст */
    height: 100%; /* Для полного покрытия фоном */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 600px;
    background: rgba(89, 42, 246, 0.46); /* Слегка прозрачный фон */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px; /* Скругленные углы */
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Отступ для изображения */
}

#inputArea, #timer, #results, #final-submit-button, #restart-button {
    margin-top: 20px; /* Однородные отступы сверху */
    width: 100%; /* Полная ширина контейнера */
    display: none; /* Скрытие элементов по умолчанию */
}

input[type="number"], button {
    width: calc(100% - 40px); /* Полная ширина с учетом padding */
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: rgb(72 0 255 / 38%);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
