body, html {
    background-image: url('/images/background_gradient.png');
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px; /* Увеличиваем внутренние отступы */
    font-size: 18px; /* Увеличиваем размер шрифта */
    width: auto 50%; /* Устанавливаем ширину кнопки */
    height: auto 50px; /* Устанавливаем высоту кнопки */
    border: 2px solid #007BFF; /* Стиль границы */
    border-radius: 10px; /* Скругленные углы */
    background-color: white; /* Цвет фона */
    color: black; /* Цвет текста */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s; /* Плавное изменение фона при наведении */
}

button:hover {
    background-color: #59636d; /* Цвет фона при наведении */
}